.switchview-container{
    display: flex;
    justify-self: center;
    background-color: var(--background-light);
    box-shadow: var(--boxShadow);
    width: fit-content;
    
}

.switchview-container.dark{
    background-color: var(--background-dark);
}

.cardstyle{
    margin:0.5rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--background-light);
}

.cardstyle.dark{
    background-color: var(--background-dark);
}

.gridview{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 0.5rem;
    color: var(--font-color-light);
}

.gridview.dark{
    color: var(--font-color-dark);
}


.listview{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 0.5rem;
    color: var(--font-color-light)
}

.listview.dark{
    color: var(--font-color-dark);
}
