:root{
    --primary-color:#00d09c;
    --hover-color: #66e3c4;
    --boxShadow: rgba(0,0,0,0.1);
    --background-light: #fafafa;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}