*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color:#00d09c;
    --hover-color: #66e3c4;
    --boxShadow: rgba(0,0,0,0.1);
    --background-light: #fafafa;
    --background-dark: #2f3640;
    --background-dark-secondary: #4b4b4b;
    --font-color-light: #2f3640;
    --font-color-dark: #fafafa;
}

body{
    background-color: lightgray;
    /* border: 1px solid red; */
    margin:0;
}

body.dark{
    background-color: var(--background-dark-secondary);
}